body { 
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

#one {
	width: 800px;
	height: 200px;
	position: absolute;
	background-color: #CABBB7;
}

#two{
	position: absolute;
	left: 0%;
	width: 70%;
	height: 99%;
	font-size: 130%;
 	text-align: center;
 	padding-top: 90px;
}

#three{
	position: absolute;
	left: 70%;
	width: 30%;
	height: 99%;
}

.photo-one{
	width: 90%;
  	height: 100%;
  	object-fit: contain;
}	

#four{
	width: 800px;
	height: 50px;
	top: 200px;
	position: relative; 
	background-color: #C65252;
}

#five{
	position: absolute;
	left:  0%;
	width: 55%;
	height: 100%;
}

#six{
	position: absolute;
	left: 55%;
	height: 100%;
	font-size: 150%;
 	text-align: center;
 	padding-top: 7px;
 	font-weight: bold;
}
#six-1 > a{
	color: white;
	text-decoration: none;
}

#seven{
	width: 600px;
	height: 200px;
	left: 100px;
	top: 200px;
	position: relative;
}

#eight{
	padding-top: 0px;
  	padding-right: 30px;
  	padding-bottom: 0px;
  	padding-left: 80px;
  	text-align: center;
  	font-size: 160%;
}

#nine{
	width: 600px;
	height: 200px;
	left: 100px;
	top: 200px;
	position: relative;
}

#ten{
	width: 100%;
	height: 80%;
	left: 0%;
	position: relative;
}

#photo-two{
	width: 100%;
  	height: 100%;
  	object-fit: cover;
 }

 #eleven{
 	width: 100%;
 	height: 12%;
 	position: relative;
 	text-align: center;
 	font-weight: bold;
 	padding-top: 3px;
 	font-size: 115%;
 }

#twelve{
	width: 600px;
	height: 200px;
	left: 108px;
	top: 676px;
	position: absolute;
}

#thirteen{
	width: 45%;
	height: 80%;
	left: 0%;
	position: absolute;
}

#fourteen{
	width: 45%;
	height: 80%;
	left: 55%;
	position: relative;
}

#fifteen{
	width: 45%;
 	height: 12%;
 	position: absolute;
 	text-align: center;
 	font-weight: bold;
 	text-align: center;
 	font-weight: bold;
 	font-size: 115%;
}

#sixteen{
	width: 45%;
 	height: 12%;
 	position: relative;
 	left: 55%;
 	text-align: center;
 	font-weight: bold;
 	text-align: center;
 	font-weight: bold;
 	font-size: 115%;
 }

 #photo-three{
 	width: 100%;
  	height: 100%;
  	object-fit: cover;
 }

 #photo-four{
 	width: 100%;
  	height: 100%;
  	object-fit: cover;
 }

 #seventeen{
	width: 800px;
	height: 150px;
	top: 900px;
	position: absolute;
	background-color: rgb(202,187,183);
 }

 #eighteen{
 	width: 200px;
 	height: 80px;
 	left: 37%;
 	position: relative;
 }

#nineteen{
	width: 200px;
	height: 50px;
	left: 37%;
	position: relative;
	text-align: center;
}

#photo-five{
	width: 100%;
  	height: 80%;
  	object-fit: contain;
}	
